/* reset ----------------------------------------------------------------------------------*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  #root, #__next {
    isolation: isolate;
  }
  /* reset ----------------------------------------------------------------------------------*/

body {
    font-family:'DM Sans','Poppins', 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow: hidden;
}

img {
    height: 115vh;
    width: auto;
}

.top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 4rem;
}

.top h1{
    color: rgb(51, 47, 47);
    font-size: 1.8rem;
}

form h2 {
    margin: 5px;
    margin-left: 0;
    margin-top: 0;
    color: rgb(34, 31, 31);
}

form {
    color: rgb(63, 62, 62);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding-left: 5rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    gap: 5rem;
}
.field {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 0.95rem;
    padding-bottom: 7px;
}

label{
    font-weight: 500;
}


.right {
    flex: 1;
}

form {
    height: 40vh;
}

.top, .bottom {
    background-color: rgb(246, 247, 248);
    height: 30vh;
}

button {
    font-size: 1.2rem;
    font-weight: bold;
    width: fit-content;
    color: white;
    background-color: #17468b;
    text-align: center;
    border-radius: 5px;
    padding: 7px 30px 7px 30px;
    margin-bottom: 5%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    border: none;
}

.button-row{
    position: absolute;
    bottom:-7rem;
    
}

span{
    color: #17468b;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
  }

input:focus {
    border: 2px solid rgb(34, 133, 199);
    box-shadow: 0 0 12px rgba(34, 133, 199, 0.25);
    outline: none;
  }

button:hover {
    cursor: pointer;
}

input:valid:not(:focus) {
    border: 2px solid rgb(64, 212, 113);
}

input{
    width: 17rem;
}
